/* место для вашего кода */

/* начало стилизации блока header */

.header {
    padding: 92px 45px 95px 50px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    column-gap: 31px;
    list-style-type: circle;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    letter-spacing: 0.01em;
}

.header__links-list-no-button {
    list-style-type: none;
}

.header__link {
    display: block;
    text-decoration: none;
}     

.link_active {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__logo {
    justify-self: start;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: block;
    letter-spacing: 0.01em;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}

.address__link {
    display: block;
    margin: 0;
}

.text-decoration {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* конец стилизации блока header */

/* начало стилизации блока cover */

.cover {
    background: url(../images/cover.jpg) no-repeat center / cover;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 179px;
    padding: 165px 50px 50px;
    min-height: 756px;
    z-index: 1;
}

.overlay {
    background-color: #000000;
    opacity: 60%;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 2;
}

.cover__title {
    position: relative;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    z-index: 3;
}

.aligned-text_left {
    display: block;
    margin-bottom: 19px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    line-height: 100px;
    margin-bottom: 20px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    line-height: 100px;
    margin-bottom: 135px;
}

.letter-spacing {
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    z-index: 4;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18px;
    text-transform: uppercase;
}

.button {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-transform: uppercase;
    padding: 12px 32px 11px 31px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

/* конец стилизации блока cover */

/* начало стилизации блока lots */

.lots {
    padding: 0 24px;
    margin-bottom: 181px;
}

.lots__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    color: #000000;
    padding-left: 40px;
    margin-bottom: 27px;
    text-transform: uppercase;
}

.lots__cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 563px;
    list-style-type: none;
    margin-bottom: 30px;
    column-gap: 25px;
}   

.card {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 563px;
    color: #FFFFFF;
    padding: 48px 40px 48px;
    display: flex;
    flex-direction: column;
    column-gap: 25px;
    justify-content: space-between;
}

.card-frame-movie {
    background-image: url(../images/card-lot-01.jpg);
}

.card-book-cover {
    background-image: url(../images/card-lot-02.jpg);
}

.card-abstract-drawing {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    text-decoration: none;
}

.card__title {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 4px;
    z-index: 3;
}

.card__text {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    z-index: 3;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-left: 40px;
}

/* конец стилизации блока lots */

/* начало стилизации блока about */

.about {
    padding: 0 23px 180px 71px;
}

.about__column {
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-rows: 1fr;
}

.about__logo {
    background-color: #000000;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__description {
    align-self: self-end;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    color: #000000;
    text-transform: uppercase;
    padding: 100px 0px;
}

.about__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.letter-spacing-two-percent {
    letter-spacing: 0.02em;
}

.letter-spacing-negative {
    letter-spacing: -0.01em;
}

.letter-spacing-three-percent {
    letter-spacing: 0.06em;
}

/* конец стилизации блока about */

/* начало стилизации блока footer */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 98px;
    padding: 0 50px 88px;
}

.footer__menu {
    justify-self: center;
    text-align: center;
}
    
.footer__links-list {
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}

.footer__social-list {
    display: flex;
    column-gap: 48px;
    list-style-type: none;
    justify-self: end;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}

/* конец стилизации блока footer */